@use 'base';
$primary_color : #eac4c4;
$font_size_default : 16px;

p {
    color: $primary_color;
    &:hover strong {
        color: lighten($primary_color, 10%);
    }
}
body{
    background: base.$base_bg_color;
}
h1{
    text-transform: uppercase;
    color: darken($primary_color,20%);
}
header{
    p{
        color: $primary_color;
        font-size: $font_size_default;
    }
    strong{
        text-transform: uppercase;
    }
    a{
        text-decoration: overline underline;
        color: lighten($primary_color,20%);
    }
}